#edit-user-profile {
	display: flex;
	flex-direction: column;
	max-width: 700px;
	margin: 0 1.5rem;
	box-shadow: var(--default-box-shadow);
}

#edit-user-profile > div {
	background-color: #5448ff8c;
	padding: 3rem 2rem;
}

#edit-user-profile form {
	background-color: white;
	padding: 0.5rem 1rem;
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 1rem;
	row-gap: 1rem;
}

#edit-user-profile .form-item {
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
}

#edit-user-profile form .form-item input,
textarea,
select {
	padding: 0.5rem;
	font-size: 1rem;
}

#edit-user-profile form .form-item.span-2 {
	grid-column: 1/3;
}

#edit-user-profile form .form-item.span-2 textarea {
	resize: vertical;
}

#edit-user-profile form input[type="submit"] {
	width: fit-content;
	padding: 0.5rem 5rem;
	border: none;
	outline: none;
	color: white;
	background-color: var(--primary-color);
	font-weight: 700;
	border-radius: 3px;
}
