*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--default-box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);
	--primary-color-hsl: 244;
	--primary-color: hsl(var(--primary-color-hsl), 100%, 64%);
	--header-height: 70px;
	--body-background-color: #ebebeb;
	--grey: #c4c4c4;
	--primary-color-lighter: hsl(var(--primary-color-hsl), 100%, 68%);
	--primary-color-more-lighter: hsl(var(--primary-color-hsl), 100%, 90%);
	--footer-background-color: #5e5e5e;
}

a {
	text-decoration: none;
}

body {
	font-family: "Roboto", sans-serif;
	background-color: var(--body-background-color);
	position: relative;
}

main {
	padding-top: calc(var(--header-height) + 1rem);
}

header {
	height: var(--header-height);
	background-color: white;
	box-shadow: var(--default-box-shadow);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999;
}

header nav {
	height: var(--header-height);
	padding: 0.5rem 1.5rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

header nav #title {
	color: black;
	font-size: 1.5rem;
	font-weight: 700;
}

header nav #title span {
	color: var(--primary-color);
}

header nav ul {
	display: flex;
	align-items: center;
	gap: 2rem;
}

header nav ul a:nth-child(1) {
	background-color: var(--primary-color);
	padding: 0.5rem 0.75rem;
	color: white;
	border-radius: 2px;
	transition: 0.2s;
	cursor: pointer;
}

header nav ul a:nth-child(1):hover {
	background-color: var(--primary-color-lighter);
}

header nav ul a:nth-child(2) {
	color: var(--primary-color);
	padding: 0.5rem 0.75rem;
	border-radius: 2px;
	transition: 0.1s;
}

header nav ul a:nth-child(2):hover {
	color: white;
	background-color: var(--primary-color);
}

header#user-header nav ul a:nth-child(2) {
	background-color: transparent;
	padding: 0;
	border-radius: 0;
}

header#user-header nav ul a:nth-child(2):hover {
	background-color: transparent;
}

header#user-header nav ul a:nth-child(2) img {
	height: 50px;
	width: 50px;
	object-fit: cover;
	object-position: center;
	border-radius: 50%;
}

header#user-header nav ul .profilePicture {
	padding: .5rem;
	font-size: 1.5rem;
	color: black;
	border: 1px solid var(--primary-color);
	border-radius: 50%;
	cursor: pointer;
}

footer {
	background-color: var(--footer-background-color);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 2rem;
	margin-top: 1rem;
}

footer ul {
	list-style-type: none;
	display: flex;
	flex-direction: column;
}

footer ul a {
	color: #e3e3e3;
	font-size: 14px;
}

footer p {
	color: white;
}

footer div {
	color: rgb(255, 255, 255);
}

footer div a {
	color: rgb(255, 255, 255);
}

footer div a:hover {
	text-decoration: underline;
}

.page-skeleton {
	display: none;
}

.page-skeleton.active {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 100vh;
	background-color: white;
	display: grid;
	place-items: center;
}

.loading {
	height: 100px;
	width: 100px;
	border-radius: 50%;
	border: 15px solid var(--primary-color-more-lighter);
	border-top: 15px solid var(--primary-color);
	animation: spin 2s infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}