main {
    display: flex;
    gap: 1rem;
}

#professorPicture {
    width: fit-content;
    background-color: white;
    padding: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .25rem;
}

#professorPicture .profilePicture {
    width: 200px;
	height: 200px;
	font-size: 4rem;
	color: black;
    background-color: var(--primary-color-lighter);

	display: flex;
	align-items: center;
	justify-content: center;

	cursor: pointer;

    order: -1;
}

#payment {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#payment .payment-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#payment .payment-info #price {
    padding: .75rem;
    color: var(--primary-color);
    background-color: var(--primary-color-more-lighter);
    font-weight: 700;
    font-size: 1.25rem;
    border-radius: 4px;
}