*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--default-box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);
	--primary-color-hsl: 244;
	--primary-color: hsl(var(--primary-color-hsl), 100%, 64%);
	--header-height: 70px;
	--body-background-color: #ebebeb;
	--light-grey: #d6d6d6;
	--grey: #c4c4c4;
	--dark-grey: #2e2e2e;
	--primary-color-lighter: hsl(var(--primary-color-hsl), 100%, 68%);
	--primary-color-more-lighter: hsl(var(--primary-color-hsl), 100%, 90%);
	--footer-background-color: #5e5e5e;
}

a {
	text-decoration: none;
}

body {
	font-family: "Roboto", sans-serif;
	background-color: var(--body-background-color);
	position: relative;
}

main {
	padding-top: 1rem;
}

header {
	height: var(--header-height);
	background-color: white;
	box-shadow: var(--default-box-shadow);
	position: sticky;
	top: 0;
	width: 100%;
	z-index: 999;
}

header nav #title {
	color: black;
	font-size: 1.5rem;
	font-weight: 700;
}

header nav #title span {
	color: var(--primary-color);
}

header nav {
	max-width: 1000px;
	height: var(--header-height);
	margin: 0 auto;
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-inline: 1rem;
}

header nav ul.navigation {
	display: none;
}

header nav ul.navigation.active {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	border-top: 1px solid var(--primary-color);
	background-color: white;
	box-shadow: var(--default-box-shadow);
}

header nav ul.navigation.active a {
	padding: 0.5rem;
	width: 100%;
	text-align: center;
}

header nav ul.navigation.active .signup {
	background-color: var(--primary-color);
	color: white;
}

header nav ul.navigation.active .signup:hover {
	background-color: var(--primary-color-lighter);
}

header nav ul.navigation.active .login {
	color: var(--primary-color);
}

header nav svg {
	display: block;
	color: var(--primary-color);
	cursor: pointer;
	height: 1.5rem !important;
}

footer {
	background-color: var(--footer-background-color);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 2rem;
	margin-top: 1rem;
}

footer ul {
	list-style-type: none;
	display: flex;
	flex-direction: column;
}

footer ul a {
	color: #e3e3e3;
	font-size: 14px;
}

footer p {
	color: white;
}

footer div {
	color: rgb(255, 255, 255);
}

footer div a {
	color: rgb(255, 255, 255);
}

footer div a:hover {
	text-decoration: underline;
}

.page-skeleton {
	display: none;
}

.page-skeleton.active {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 100vh;
	background-color: white;
	display: grid;
	place-items: center;
}

.loading {
	height: 100px;
	width: 100px;
	border-radius: 50%;
	border: 15px solid var(--primary-color-more-lighter);
	border-top: 15px solid var(--primary-color);
	animation: spin 2s infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@media (min-width: 672px) {
	header nav .toggle {
		display: none;
	}

	header nav ul.navigation {
		display: flex;
		flex-direction: row;
		gap: 2rem;
		align-items: center;
	}

	header nav ul.navigation a {
		padding: 0.5rem 0.75rem;
		border-radius: 2px;
		transition: 0.2s;
	}

	header nav ul.navigation .signup {
		background-color: var(--primary-color);
		color: white;
	}

	header nav ul.navigation .signup:hover {
		background-color: var(--primary-color-lighter);
	}

	header nav ul.navigation .login {
		color: var(--primary-color);
	}

	header nav ul.navigation .login:hover {
		color: white;
		background-color: var(--primary-color);
	}

	/* se o toggle estiver ativado na hora*/

	header nav ul.navigation.active {
		position: static;
		flex-direction: row;
		border-top: none;
		background-color: transparent;
		box-shadow: none;
		width: fit-content;
		display: flex;
		flex-direction: row;
		gap: 2rem;
		align-items: center;
	}

	header nav ul.navigation.active a {
		padding: 0.5rem 0.75rem;
		border-radius: 2px;
		transition: 0.2s;
	}

	header nav ul.navigation.active .signup {
		background-color: var(--primary-color);
		color: white;
	}

	header nav ul.navigation.active .signup:hover {
		background-color: var(--primary-color-lighter);
	}

	header nav ul.navigation.active .login {
		color: var(--primary-color);
	}

	header nav ul.navigation.active .login:hover {
		color: white;
		background-color: var(--primary-color);
	}
}
