<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="description" content="Veja as informações do professor, seus feedbacks, sua didática e contrate-o">
		<title>Contratar professor</title>

		<!-- FONTS: Roboto -->
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet" />

		<!-- Icones -->
		<link rel="stylesheet" href="/fonts/style.css" />

		<!-- Styles -->
		<link rel="stylesheet" href="/css/styles.css" />
		<link rel="stylesheet" href="/css/hireTeacher.css" />

		<!-- Javascript -->
		<script src="/js/footer.js" defer></script>
		<script src="/js/initializeFirebase.js" type="module"></script>
		<script src="/js/areUserConnected.js" type="module"></script>
		<script src="/js/hireTeacher.js" type="module"></script>
	</head>
	<body id="<%= professorId %>">
		<header>
			<nav>
				<a href="/" id="title">Educa<span>Zone</span></a>
				<ul role="navigation">
					<a<a href="/signup">Cadastrar</a>
					<a href="/login">Entrar</a>
				</ul>
			</nav>
		</header>
		<main>
			<section id="hire">
				<div class="picture-price">
					<span id="price"></span>
				</div>
				<p class="name"></p>
				<div class="btn-actions">
					<button id="hire-btn">Contratar</button>
					<button><i class="icon-message"></i>Mandar mensagem</button>
					<button>Denunciar</button>
				</div>
			</section>
			<section id="info">
				<div class="contact">
					<h3>Informações de contato</h3>
					<div><p>Celular:</p><p class="phoneNumber"></p></div>
					<div><p>Email:</p><p class="email"></p></div>
				</div>
				<div>
					<h3>Sobre mim</h3>
					<p class="aboutMe"></p>
				</div>
				<div>
					<h3>Didática</h3>
					<p class="didactic"></p>
				</div>
				<!-- <div class="feedbacks">
					<h3>Avaliações</h3>
				</div> -->
			</section>
		</main>
	</body>
</html>
