<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="description" content="Página inicial da educazone">
		<title>EducaZone</title>

		<!-- FONTS: Roboto -->
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet" />

		<!-- Font Awesome JS -->
		<script src="https://kit.fontawesome.com/309e31f583.js" crossorigin="anonymous"></script>

		<!-- Styles -->
		<link rel="stylesheet" type="text/css" href="/css/styles.css" />
		<link rel="stylesheet" type="text/css" href="/css/landingPage.css" />

		<!-- Javascript -->
		<script src="/js/index.js" type="module"></script>
		<script src="/js/header.js" defer></script>
		<script src="/js/footer.js" defer></script>
	</head>
	<body>
		<header>
			<nav>
				<a href="/" id="title">Educa<span>Zone</span></a>
				<ul role="navigation" class="navigation">
					<a href="/signup" class="signup">Cadastrar</a>
					<a href="/login" class="login">Entrar</a>
				</ul>
				<div class="toggle">
					<i class="fa-solid fa-bars"></i>
				</div>
			</nav>
		</header>
		<main>
			<section>
				<div class="prof-student-copy">
					<h2>Professor ou Professora Particular</h2>
					<p> Conheça a plataforma que vai te ajudar na forma de como você se comunica com os seus alunos e gerencia o seu financeiro. Pare de perder o seu tempo e começe a usar a EducaZone </p>
					<ul class="prof-itens">
						<li class="prof-itens-line"> <i class="fa solid fa-check"></i>Receba pagamentos</li>
						<li class="prof-itens-line"> <i class="fa solid fa-check"></i>Atribua tarefas ao seus alunos </li>
						<li class="prof-itens-line"> <i class="fa solid fa-check"></i>Receba relatórios sobre o seu financeiro </li>
						<li class="prof-itens-line"> <i class="fa solid fa-check"></i>Contato direto com o aluno via chat em tempo real </li>
					</ul>
				</div>
				<div class="prof-student-images">
					<img src="/img/professor-teaching.svg" alt="Professor Estudando" />
					<img src="/img/professor-data.svg" alt="Um Professor" />
				</div>
			</section>
			<div class="strip"></div>
			<section>
				<div class="prof-student-images">
					<img src="/img/student-learning.svg" alt="Estudante aprendendo" />
					<img src="/img/student-online-learning.svg" alt="Estudante aprendendo online" />
				</div>
				<div class="prof-student-copy">
					<h2>Estudante</h2>
					<p>Precisa de um reforço escolar? Ou está disposto a aprender algo novo? Contrate um professor particular agora mesmo e tenha um aprendizado que não conseguiria em nenhum outro lugar! </p>
					<ul class="prof-itens">
						<li class="prof-itens-line"> <i class="fa solid fa-check"></i> Faça pagamentos diretamente para seu professor</li>
						<li class="prof-itens-line"> <i class="fa solid fa-check"></i> Interaja com as atividades e exercícios propostos pelo professor</li>
						<li class="prof-itens-line"> <i class="fa solid fa-check"></i> Receba relatórios do seu aprendizado e veja o quanto evoluiu</li>
						<li class="prof-itens-line"><i class="fa solid fa-check"></i> Contato direto com o professor via chat em tempo real</li>
					</ul>
				</div>
			</section>
		</main>
	</body>
</html>
