<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="description" content="Esta página lista todos os seus alunos ativos">
		<title>Lista de alunos</title>

		<!-- FONTS: Roboto -->
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet" />

		<!-- Styles -->
		<link rel="stylesheet" href="/css/styles.css" />
		<link rel="stylesheet" href="/css/myStudentsList.css" />

		<!-- Font Awesome JS -->
		<script src="https://kit.fontawesome.com/309e31f583.js" crossorigin="anonymous"></script>

		<!-- Javascript -->
		<script src="/js/footer.js" defer></script>
		<script src="/js/initializeFirebase.js" type="module"></script>
		<script src="/js/areUserConnected.js" type="module"></script>
		<script src="/js/myStudentsList.js" type="module"></script>
	</head>
	<body>
    <header>
      <nav>
          <a href="/" id="title">Educa<span>Zone</span></a>
          <ul role="navigation">
              <a<a href="/signup">Cadastrar</a>
              <a href="/login">Entrar</a>
          </ul>
      </nav>
  </header>
  <main>
    <h1>Lista de Alunos</h1>
		<div id="students"></div>
  </main>
	</body>
</html>
