<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Pagamento</title>

		<!-- FONTS: Roboto -->
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet" />

		<!-- Icones -->
		<link rel="stylesheet" href="/fonts/style.css" />

		<!-- Styles -->
		<link rel="stylesheet" href="/css/styles.css" />
		<link rel="stylesheet" href="/css/payment.css" />

		<!-- Javascript -->
		<script src="/js/initializeFirebase.js" type="module"></script>
		<script src="/js/payment.js" type="module"></script>
	</head>
	<body id="<%= professorId %>">
		<main>
			<section id="professorPicture">
				<p id="fullname"></p>
			</section>
			<section id="payment">
				<div class="payment-info">
					<div>
						<p id="firstName"></p>
						<p>Assinatura mensal</p>
					</div>
					<p id="price"></p>
				</div>
				<div class="payment-loyalty">
					<i class="icon-check"></i>
					<p>Sem fidelização e debitado somente quando Maria aceitar o seu pedido de aulas</p>
				</div>
				<div class="payment-safety">
					<p>Modo de pagamento</p>
					<p>100% seguro <i class="icon-lock"></i></p>
				</div>
				<div class="payment-method">
					<i class="icon-credit-card"></i>
				</div>
				<div class="payment-form">
					<label for="cpf">Insira o seu CPF ou CNPJ</label>
					<input type="text" name="cpf" id="cpf" placeholder="Insira o seu CPF ou CNPJ" />
				</div>
				<button type="submit" title="Avançar para o pagamento" id="pay">Avançar para o pagamento</button>
			</section>
		</main>
	</body>
</html>
