<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Nesta página você pode verificar todas as informações relativas ao seu trabalho como professor, como extrato financeiro, alunos e tarefas.">
  <title>Dashboard</title>

  <!-- Icones -->
  <link rel="stylesheet" href="/fonts/style.css">

  <!-- Styles -->
  <link rel="stylesheet" href="/css/styles.css"></link>
  <link rel="stylesheet" href="/css/professorDashboard.css"></link>
  
  <!-- Javascript -->
  <script src="/js/footer.js" defer></script>
  <script src="/js/initializeFirebase.js" type="module"></script>
  <script src="/js/areUserConnected.js" type="module"></script>
  <script src="/js/professorDashboard.js" type="module"></script>
</head>
<body>
  <header>
      <nav>
          <a href="/" id="title">Educa<span>Zone</span></a>
          <ul role="navigation">
              <a<a href="/signup">Cadastrar</a>
              <a href="/login">Entrar</a>
          </ul>
      </nav>
  </header>
  <main>
      <section id="activities">
        <h2>Atividades</h2>
        <div></div>
      </section>
      
      <section id="myStudents">
          <h2>Meus Estudantes</h2>
          
      </section>

      <section id="financies">
        <h2>Pagamentos</h2>
      
      </section>
  </main>
</body>
</html>