<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8"></meta>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
 		<meta name="description" content="Lista de todas as tarefas. Você pode criar, editar e até devolver as tarefas para os seus alunos.">
		<title>Tarefas</title>

		<!-- FONTS: Roboto -->
		<link rel="preconnect" href="https://fonts.googleapis.com"></link>
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin></link>
		<link
			href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap"
			rel="stylesheet"
	></link>

		<!-- Icones -->
		<link rel="stylesheet" href="/fonts/style.css" />

		<!-- Styles -->
		<link rel="stylesheet" href="/css/styles.css"></link>
		<link rel="stylesheet" href="/css/profile.css"></link>
		<link rel="stylesheet" href="/css/professor-student-tasks.css"></link>

		<!-- Javascript -->
		<script src="/js/footer.js" defer></script>
		<script src="/js/initializeFirebase.js" type="module"></script>
		<script src="/js/areUserConnected.js" type="module"></script>
		<script src="/js/professor-student-tasks.js" type="module"></script>
	</head>
	<body id="<%= studentId %>">
		<header>
			<nav>
				<a href="/" id="title">Educa<span>Zone</span></a>
				<ul role="navigation">
					<a<a href="/signup">Cadastrar</a>
					<a href="/login">Entrar</a>
				</ul>
			</nav>
		</header>
		<main>
			<section id="side-navigation">
				<p id="fullName"></p>
				<div class="student-actions">
						<p class="<%= tasks %>"><i class="icon-file-text"></i>Tarefas</p>
						<p class="<%= chat %>"><i class="icon-message"></i>Chat</p>
				</div>
			</section>
		<section id="tasksContainer">
				<button id="openAddTaskModal">Adicionar tarefa</button>
		</section>
		<div id="fixTaskModal">
			<h2 id="studentTaskTitle"></h2>
			<div class="fixTask-item">
				<h3 id="taskStatus">Status</h3>
				<div>
					<p class="contrast">Entregue em</p>
					<p id="deliveredAt"></p>
				</div>
			</div>
			<div class="fixTask-item">
				<h3>Resopsta do aluno</h3>
				<div>
					<p id="taskResponse"></p>
				</div>
			</div>
			<div class="fixTask-item fixTask-files">
				<h3>Arquivo</h3>
				<div id="studentFiles"></div>
			</div>
			<form id="fixTaskForm">
				<div class="fixTask-item file-fixTask-item">
					<h3>Nota</h3>
					<div class="grades">
						<label for="MB">MB</label>
						<input type="radio" name="grade" id="MB" class="grade" value="MB" style="display: none;">
						<label for="B">B</label>
						<input type="radio" name="grade" id="B" class="grade" value="B" style="display: none;">
						<label for="R">R</label>
						<input type="radio" name="grade" id="R" class="grade" value="R" style="display: none;">
						<label for="I">I</label>
						<input type="radio" name="grade" id="I" class="grade" value="I" style="display: none;">
					</div>
				</div>
				<div class="fixTask-item">
					<h3>Comentário</h3>
					<textarea id="commentary" placeholder="Digite aqui o seu comentário" rows="5"></textarea>
				</div>
				<div class="fixTask-actions">
					<input type="submit" value="Aceitar e publicar nota" id="submitGrade">
					<button id="resubmit">Recusar e pedir para reenviar</button>
					<button id="cancelFixTask">Cancelar</button>
				</div>
			</form>
		</div>
		</main>
		<div id="createTaskModal">
				<form action="">
					<div class="form-item">
						<label for="taskTitle">Título</label>
						<input type="text" name="taskTitle" id="taskTitle" placeholder="Digite o nome da tarefa">
					</div>
					<div class="form-item">
						<label for="expireDate">Vencimento</label>
						<input type="date" name="expireDate" id="expireDate">
					</div>
					<div class="form-item file-form-item">
						<h3>Arquivo de auxílio</h3>
						<label for="document">Selecionar</label>
						<input type="file" name="document" id="document" style="display: none;">
					</div>
					<div class="form-item">
						<label for="description">Descrição</label>
						<textarea id="description" placeholder="Digite aqui a descrição da atividade" rows="5"></textarea>
					</div>
					<input type="submit" value="Atribuir tarefa" id="createTask">
					<button id="cancelTask">Cancelar</button>
				</form>
		</div>
	</body>
</html>
